		body {
			  background-color: lightblue;
			  color: white;
			  font-family: Raleway;
			}

			h1 {
			  color: darkblue;
			  text-align: center;
			  font-family: montserrat;
			  font-size: 30px
			}
			
			h2 {
			  color: blue;
			  font-family: montserrat;
			  font-size: 20px
			}

			p {
			margin-top: 20px;
			  font-family: verdana;
			  font-size: 10px;
			}
